:root {
  /* Primary Neutrals, Descending Theme Contrast */
  --color-neutral-1: #f6f6f6;
  --color-neutral-2: #e4e4e4;
  --color-neutral-3: #ccc;
  --color-neutral: #8d8c8a;
  /* Contrast Neutrals, Ascending Theme Contrast */
  --color-contrast-1: #363538;
  /* Base/Brand + CTA Colors */
  --color-teal: #408697;
  --color-teal-accent: #4BC0DD;
  --color-teal-highlight: #19A8E6;
  --color-teal-blend-2: #98D4E7;
  --color-teal-blend: #E2EFF3;
  /* Alert/Status Colors */
  --color-success: hsl(120, 60%, 35%);
  --color-error: hsl(6, 80%, 56%);
  --color-warning: hsl(53, 73%, 63%);
  --color-info: var(--color-teal-highlight);

  /* Font Sizes */
  --font-size-title: clamp(4rem, calc(4vw + 2.2rem), 7rem);
  --font-size-subtitle: clamp(1.5rem, calc(2vw + .6rem), 3rem);
  --font-size-nav-title: clamp(2.5rem, calc(2vw + 1.6rem), 4rem);
  --font-size-nav: clamp(1.3rem, calc(.93vw + .88rem), 2rem);
  --font-size-form-title: clamp(1.25rem, calc(1vw + .8rem), 2rem);
  --font-size-form-button: clamp(1.25rem, calc(.33vw + 1.1rem), 1.5rem);
  --font-size-form: clamp(1rem, calc(.67vw + .7rem), 1.5rem);
  --font-size-table: clamp(1rem, calc(1.3vw + .4rem), 2rem);

  --line-height: 1.4;
  font-family: "Inter", sans-serif;
  line-height: var(--line-height);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin-top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
  padding: 7vh clamp(4vw, calc(12vw - 2.75rem), 8vw) 4vh;
  
  background: var(--color-neutral-1);
  color: var(--color-contast-1);
  text-align: center;
}
.main.no-nav {
  margin-top: 0;
  padding-top: calc(var(--nav-height) + 7vh);
  min-height: 100vh;
}

h1, h2, h4 {
  font-weight: normal;
}
b {
  font-weight: 600;
  color: var(--color-teal);
}

.hide {
  visibility: hidden;
}