@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  /* Primary Neutrals, Descending Theme Contrast */
  --color-neutral-1: #f9f9f9;
  --color-neutral-2: #f0f0f0;
  --color-neutral-3: #ddd;
  /* Contrast Neutrals, Ascending Theme Contrast */
  --color-contrast-1: #000;
  --color-contrast-2: #202020;
  --color-contrast-3: #444;
  /* Base/Brand Colors */
  --color-teal-muted: hsl(200, 57%, 28%);
  --color-teal: hsl(200, 57%, 35%);
  --color-teal-highlight: hsl(200, 57%, 55%);
  --color-teal-blend: hsl(200, 57%, 90%);
  /* Accent/CTA Colors */
  --color-salmon: hsl(6, 80%, 64%);
  --color-salmon-highlight: hsl(6, 80%, 56%);
  /* Alert Colors */
  --color-alert-success: hsl(120, 60%, 35%);
  --color-alert-error: var(--color-salmon-highlight);
  --color-alert-warning: hsl(53, 73%, 63%);
  --color-alert-info: var(--color-teal-highlight);

  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
  padding: 4% 10% 0;
  
  background: var(--color-neutral-1);
  color: var(--color-contast-1);
  text-align: center;
}

h1 {
  color: var(--color-teal);
  opacity: 0.9;
}
h4 {
  margin: 3rem 0;
}

p {
  opacity: 0.8;
}

.emphasize {
  font-weight: bold;
  color: var(--color-teal);
  opacity: 1;
}

a {
  text-decoration: none;
  color: var(--color-teal-muted);
}
a:hover {
  color: var(--color-teal-highlight);
}

a.button {
  padding: 0.1rem 0.5rem;
  border-radius: 0.8rem;
  
  background: var(--color-salmon);
  color: var(--color-neutral-1);
  opacity: 1;
}
a.button:hover {
  background-color: var(--color-salmon-highlight);
}

table {
  width: 100%;
  margin: 3rem 0;
  border: 0.25px var(--color-contrast-3) solid;
  border-spacing: 0;
}
thead {
  background: var(--color-neutral-3);
  color: var(--color-teal);
}
tbody tr:nth-last-child(odd) {
  background: var(--color-neutral-2);
}
tbody tr:hover {
  background: var(--color-teal-blend);
}

.icon {
  height: 1.3rem;
  translate: 0 .2rem;
  margin-inline: 0.2rem;
}
.icon:hover {
  cursor: pointer;
}

.delete-form {
  position: relative;
  width: 100%;
  height: 100%;
}
.delete-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  
}
.delete-password {
  width: 80%;
  height: 1rem;
}
.delete-password-show {
  height: 80%;
  height: 1rem;
}

.hide {
  display: none;
}