main {
  display: grid;
  grid-template-rows: 19vh 30vh auto;
}

h1 {
  font-size: var(--font-size-title);
  line-height: 1;
}
h2 {
  font-size: var(--font-size-subtitle);
  color: var(--color-neutral);
  line-height: 1.6;
}
h4 {
  font-size: var(--font-size-subtitle);
  margin: 3rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--color-teal-accent);
}

@media (min-width: 660px) {
  main {
    padding-top: calc(27vh - var(--nav-height) - var(--font-size-title) + 4rem);

    grid-template-rows: calc(4 * var(--font-size-title)) auto;
    grid-template-columns: 1fr 1fr;
  }

  .table-div {
    grid-column: span 2;
  }
}