.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--font-size-subtitle);
}

a.button {
  padding: calc(var(--font-size-form-button) / 6) 0;
  border-radius: calc(var(--font-size-form-button) * 0.8);
  font-size: var(--font-size-form-button);
  width: calc(var(--font-size-form-button) * 8.5);
  
  background: var(--color-teal-accent);
  color: var(--color-neutral-1);
}
a.button:hover {
  background-color: var(--color-teal-highlight);
}