.alert-box {
  position: fixed;
  top: calc(var(--nav-height) + var(--font-size-subtitle) / 8);
  right: calc(var(--font-size-subtitle) * 1.5 - 2.125rem);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(var(--font-size-subtitle) / 8);
}

.alert {
  width: max-content;
  max-width: calc(var(--font-size-subtitle) * 12);
  font-size: var(--font-size-subtitle);
  padding: calc(var(--font-size-subtitle) / 8) calc(var(--font-size-subtitle) * .6);
  border-radius: calc(var(--font-size-subtitle) * 1.5) 0rem;
  color: var(--color-neutral-2);
  border: 1px var(--color-contrast-1) solid;
  z-index: 1;
}

.alert.copyable {
  cursor: pointer;
}

.alert.success {
  background-color: var(--color-success);
}
.alert.error {
  background-color: var(--color-error);
}
.alert.warning {
  background-color: var(--color-warning);
  color: var(--color-contrast-1);
}
.alert.info {
  background-color: var(--color-info);
}

@media (prefers-reduced-motion: no-preference) {
  .alert {
    max-height: 20vh;
    transition: all 0.5s ease-in-out, max-height 0.5s linear;
    transform-origin: 100% 0%;
  }
  .alert.faded {
    max-height: 0;
    scale: 0;
    opacity: 0;
  }
}