:root {
  --nav-height: 3.5rem;
}

nav {
  height: var(--nav-height);
  width: 100%;
  background: var(--color-neutral-3);
  color: var(--color-base);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  font-weight: normal;
  font-size: 2.5rem;
  color: var(--color-neutral-6);
}