:root {
  --nav-height: 3.5rem;
  --font-size-nav-h1: 2.5rem;
  --font-size-nav: 1.5rem;
}

nav {
  height: var(--nav-height);
  width: 100%;
  color: var(--color-contrast-1);
  background: var(--color-neutral-1);
  border-bottom: 1px solid var(--color-neutral);
  padding: 0 max(1rem, 3vw);
  font-size: 2.5rem;
  line-height: 1;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
}

nav h1 {
  font-size: var(--font-size-nav-h1);
  transform: translateY(calc(var(--font-size-nav-h1) * 0.15));
}

nav .input-div {
  --input-width: 8rem;
  --input-font-size: 1.3rem;
}

nav h1,
nav .input-div {
  margin-block: auto 0.5rem;
}