table {
  width: 100%;
  margin-bottom: auto;
  table-layout: fixed;
  border-spacing: 0;

  font-size: var(--font-size-table);
  text-align: left;
}

colgroup col:first-child {
  width: calc(var(--font-size-table) * 6);
}
colgroup col:nth-child(3) {
  width: calc(var(--font-size-table) * 4);
}
colgroup col:nth-child(4) {
  width: calc(var(--font-size-table) * 4);
}

thead {
  background: var(--color-neutral-3);
}

tbody tr:nth-child(even) {
  background: var(--color-neutral-2);
}
tbody tr:hover {
  background: var(--color-teal-blend);
}

th {
  font-weight: normal;
}
th,
td {
  padding: calc(var(--font-size-table) * .4) calc(var(--font-size-table) / 3);
  position: relative;
}
td:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
  text-align: center;
}

.icon {
  height: calc(var(--font-size-table) * 1.4);
  display: inline;
}
.icon:hover {
  cursor: pointer;
}
.pin {
  position: absolute;
  left: 0;
  top: 20%;
  height: calc(var(--font-size-table) * 1.4);
  translate: -50% 0;
}
.copy {
  translate: 0 0.2rem;
}

.delete-form {
  position: relative;
  height: 100%;
}
.delete.input-div {
  position: absolute;
  top: 0;
  right: 0;
}