table {
  table-layout: fixed;
  width: 100%;
  margin: 3rem 0;
  border-spacing: 0;
  text-align: left;
  font-size: 1rem;
}

colgroup col:first-child {
  width: 5.5rem;
}
colgroup col:nth-child(3) {
  width: 4rem;
}
colgroup col:nth-child(4) {
  width: 4rem;
}

thead {
  background: var(--color-neutral-3);
}

tbody tr:nth-child(even) {
  background: var(--color-neutral-2);
}
tbody tr:hover {
  background: var(--color-teal-blend);
}

th {
  font-weight: normal;
}
th,
td {
  padding: .4rem .25rem;
}
td:nth-child(1) {
  padding-left: .5rem;
}
td:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
th:nth-child(3),
td:nth-child(3) {
  text-align: center;
}
th:nth-child(4),
td:nth-child(4) {
  text-align: center;
}

.icon {
  height: 1.3rem;
  display: inline;
}
.icon:hover {
  cursor: pointer;
}
.pin {
  height: 1.3rem;
  translate: -.5rem .25rem;
  margin-inline: -0.5rem -0.7rem;
}
.copy {
  translate: 0 0.2rem;
}

.delete-form {
  position: relative;
  height: 100%;
}
.delete.input-div {
  position: absolute;
  top: 0;
  right: 0;
}