table {
  width: 100%;
  margin-bottom: auto;
  table-layout: fixed;
  border-spacing: 0;

  font-size: var(--font-size-table);
  text-align: left;
}

colgroup col.id {
  width: calc(var(--font-size-table) * 6);
}
colgroup col.copy,
colgroup col.delete {
  width: calc(var(--font-size-table) * 4);
}

thead {
  background-color: var(--color-neutral-3);
  position: sticky;
  top: var(--nav-height);
  z-index: 1;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-neutral-2);
}
tbody tr:hover {
  background-color: var(--color-teal-blend);
  scale: 1.02;
}

th {
  font-weight: normal;
}
th,
td,
.table-load-button {
  padding: calc(var(--font-size-table) * .4) calc(var(--font-size-table) / 3);
  position: relative;
}
td.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
th.copy,
td.copy,
th.delete,
td.delete {
  text-align: center;
}

.icon {
  height: calc(var(--font-size-table) * 1.4);
  display: inline;
}
.icon:hover {
  cursor: pointer;
}
.pin {
  position: absolute;
  left: 0;
  top: 20%;
  height: calc(var(--font-size-table) * 1.4);
  translate: -70% 0;
  rotate: -30deg;
}
.copy.icon {
  translate: 0 0.2rem;
}

.delete.form {
  position: relative;
  height: 100%;
}
.delete.input-div {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-neutral-1);
}

.table-load-button {
  width: 100%;
  font-size: var(--font-size-table);
  border: none;
  background-color: var(--color-neutral-3);
  text-align: left;
  padding-inline: 7%;
}
thead tr:hover,
.table-load-button:hover {
  background-color: var(--color-teal-blend-2);
  scale: 1.02;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 660px) {
  tr,
  .table-load-button {
    transition: scale .5s linear;
  }

  tr:hover,
  .table-load-button:hover {
    transition: scale .3s cubic-bezier(0, 1, 1, 1.8);
  }
}

@media (max-width: 659px) {
  table {
    text-align: center;
  }

  col, 
  th {
    display: none;
  }
  
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  td {
    padding: calc(var(--font-size-table) * 0.4) 1vw;
  }

  td.id,
  td.url {
    display: inline-block;
    flex-basis: 100%;
  }
  td.copy,
  td.delete {
    display: inline-block;
    flex-basis: 30%;
  }
  td.url {
    word-wrap: break-word;
    white-space: initial;
  }
  td.copy {
    margin-inline: auto 0;
  }
  td.delete {
    margin-inline: 0 auto;
  }

  td.id::before,
  td.url::before {
    content: attr(data-cell) ": ";
    font-weight: 600;
  }
}